[package]
name = "blind-rsa-signatures"
version = "0.15.0"
authors = ["Frank Denis <github@pureftpd.org>"]
edition = "2018"
description = "RSA blind signatures in pure Rust"
readme = "README.md"
keywords = ["crypto", "rsa", "blind", "signatures"]
homepage = "https://github.com/jedisct1/rust-blind-rsa-signatures"
repository = "https://github.com/jedisct1/rust-blind-rsa-signatures"
categories = ["cryptography"]
license = "MIT"

[dependencies]
num-integer = "0.1.46"
num-traits = "0.2.19"
rand = "0.8.5"
rsa = { version = "0.8.2", features = ["expose-internals"] }
digest = "0.10.7"
hmac-sha256 = { version = "1.1.7", features = ["traits010"] }
hmac-sha512 = { version = "1.1.5", features = ["traits010", "sha384"] }
hkdf = "0.12.3"
hmac = "0.12"
hex = "0.4"
derive-new = "0.5.9"
derive_more = "0.99.17"
serde = {version = "1", features = ["derive"], optional = true }
num-primes = "0.3"
num-bigint-dig = "0.8"

[dev-dependencies]
criterion = "0.5"

[features]
default = ["serde"]
serde = ["dep:serde", "rsa/serde"]

[[bench]]
name = "speed_test"
harness = false
